name: build

on:
  release:
    types: [published]

defaults:
  run:
    shell: pwsh

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full

jobs:
  build:
    runs-on: windows-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: 'master'

      - name: Update Rustc
        run: |
          rustup self update
          rustup default stable-x86_64-pc-windows-msvc
          rustup update

      - name: Build AVX2
        timeout-minutes: 600
        env: 
          RUSTFLAGS: -Ctarget-feature=+avx2
        run: |
          rustup default stable-x86_64-pc-windows-msvc
          cargo build --release --verbose
          Set-Location target
          mkdir upload
          Copy-Item release/msfs2020checksum.exe upload/msfs2020checksum.avx2.exe

      - name: Build non-AVX2
        timeout-minutes: 600
        env: 
          RUSTFLAGS: -Ctarget-feature=-avx2
        run: |
          Remove-Item -Recurse -Force target/release
          Remove-Item -Force target/.rustc_info.json
          cargo build --release --verbose
          Set-Location target
          Copy-Item release/msfs2020checksum.exe upload/msfs2020checksum.exe

      - name: Hashing
        shell: bash
        run: |
          cd target/upload/
          sha256sum msfs2020checksum.avx2.exe | tee msfs2020checksum.avx2.exe.sha256
          sha256sum msfs2020checksum.exe | tee msfs2020checksum.exe.sha256

      - name: Upload Binaries to Release
        uses: svenstaro/upload-release-action@v2
        with:
          # A personal access token for the GitHub repository in which the release will be created and edited.
          # It is recommended to create the access token with the following scopes: `repo, user, admin:repo_hook`.
          repo_token: ${{ secrets.MY_PERSONAL_ACCESS_TOKEN }}
          file: target/upload/*
          file_glob: true
          tag: ${{ github.ref }}
